{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block body_block%}

{% if loggedin %}
<div class="alert alert-success">
    Login Successfully.
</div>

{% else %}

<h2> Login </h2>

{% if messages %}
<div class="alert alert-success">
    
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      
</div>
{% endif %}  

<form method="POST" style="max-width: 500px;">
    {% csrf_token %}
    {{ form|crispy }}
    
    <br>
    <button type="submit" class="btn btn-success btn-sm">Log in</button>

</form>
<br>

<p>Do you have no account? <a href="{% url 'app_login:signup' %}">Sign up</a></p>
<p>Do you forget password? <a href="{% url 'app_login:reset_password' %}">Forget password</a></p>

{% endif %}

{% endblock %}