{% extends 'base.html' %}
{% load custom_filters %}
<!-- {% load static %} -->

{% block title %}
Home
{% endblock %}


{% block body_block %}

{% for blog in blogs %}

<h3>{{ blog.blog_title }}</h3>
<h6><i>{{ blog.publish_date }} 
    {% if blog.publish_date != blog.update_date %}, modified on {{ blog.update_date }}{% endif %} 
</i></h6>

<div class="row" style="padding-bottom: 20px;">
    <div class="col-sm-4 col-ml-4 col-lg-3">
        <div class="image-container">
            <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">
        </div>
    </div>
    
    <div class="col-sm-8">
        <div class="text-container">
            {{ blog.blog_content | linebreaks }} 
        </div>
       <p>
        <a href="{% url 'app_blog:blog_detail' slug=blog.slug %}">Read more</a>
       </p><!--linkbreaks : 줄바꿈 해주는 필터. 이거 추가 안하면 하나의 paragraph 처럼 출력됨-->
       <h6>Posted by <a href="#">{{ blog.author.username }}</a></h6>
       <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>
       
    </div>
    

</div>

{% endfor %}

{% endblock %}